.Main_Wrapper{
    display: flex;
    flex-direction: column;
}

.Header-Wrapper {
    display: flex;
    justify-content: center;
    gap: 25px;
    height: 80px;
    padding: 15px;
    background: linear-gradient(to left, #046F49, #004134);
    color: white;

}

.Header-Wrapper img {
    height: 100%;
    width: auto;
    position: relative;
    left: -17px;
    padding: 3px;
}

.Search_Bar_Wrapper {    
    width: 850px;
    height: 10px;
}

.Search_Bar_Wrapper_Second {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    position: relative;
}

.Search-bar form input{
    width: 88%;
    height: 50px;
    padding: 20px;
}





.Second-Header-Wrapper{
    background-color: #085749;
    padding: 2px;
}

.Second-Header-List ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.Search-bar .DropdownButton{
  height: 50px;        
  line-height: 50px;   
  font-size: 16px; 
  background-color: white;
}

.Search-bar form button{
    width: 7%;
    height: 50px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: #A9176F;
    color: white;

}

.Cart-Icon {
    width: 20px;
    padding: 0px 10px;
}

.Cart-Icon a{
    background-color: #046F49;
    border-color: #046F49;
    color: white;
}


.Second-Header-List ul a{
    color: white;
}

.Header-Text a{
    color: white;
    font-size: 14px;
    padding-right: 3px;
}

.HoverBorderEffect :hover{
    border: solid white 2px;
    padding: 0px 3px;
}