.Header-Wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 100px;
    padding: 15px;
    background-color: #035F40;
    color: white;
}

.Header-Wrapper img {
    height: 100%;
    width: auto;
}

.Search_Bar_Wrapper {    
    width: 1000px;
}

.Search_Bar_Wrapper_Second {
    gap: 0px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: solid black;
    width: 100%;
}

.Search-bar{
    max-width: 100%;
}

.Search-bar img {
    width: 70px;
}

.Search-bar form input{
    width: 88%;
    height: 57px;
    padding: 20px;
}




.Second-Header-Wrapper{
    background-color: #085749;
    padding: 2px;
}

.Second-Header-List ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.DropdownButton{
    /* height: 90px; */
    padding: 0px;

}


.Second-Header-List ul a{
    color: white;
}

.Header-Text a{
    color: white;
    font-size: 14px;
}