.Main-card-container {
    background-color: white;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 5px;
}

.Single-Img img {
    height: 300px;
    object-fit: contain;
}

.Main-card-container h3 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}

.Main-card-container a {
    color: #007185;
    text-decoration: none;
    font-size: 13px;
    margin-top: 20px;
    display: block;
}

.Main-card-container a:hover {
    color: #c7511f;
    text-decoration: underline;
}