.AboveFotter{
    background-color: #FFFFFF;
    padding: 10px 0px;
    margin-bottom: 10px;
    margin-top: -450px;
    text-align: center;
}

.AboveFotter button{
    width: 260px;
    border-radius: 20px;
    padding: 5px;
    background-color: #FFCE12;
    border: none;
}

.InnerFooter{
    padding: 20px 0px;
}

.LinkToHeader{
    background-color: #37475A;
    text-align: center;
    padding: 20px;
}
.LinkToHeader:hover{
    background-color: #485769;
}


.LinkToHeader a, .SecondFooter a{
    color: #DDDDDD;
    font-size: 15px;
}
.NoteWrapper, .Main_Lower_Footer_Wrapper{
    background-color: hsl(213, 28%, 19%);
}


.SecondFooter{
    padding-top: 33px;
    padding-bottom: 85px;
    color: white;
    text-align: left;
    margin: 0px auto;
    width: 74%;
}

.SecondFooter h4{
    font-size: 17px;
    padding-bottom: 4px;
    font-weight: bold;
}

.SecondFooter a:hover{
    text-decoration: underline;
}

.Main_Lower_Footer_Wrapper{
    width: 100%;
    border-top: #DDDDDD 0.5px solid;
    justify-content: center;
}


.Logo_Wrapper{
    padding: 30px 0px;
    margin: 0px auto;
    width: 60%;
    display: flex;
    gap: 10px;
}

.Logo_Wrapper span{
    color: #E3E6E6;
    background-color: hsl(213, 28%, 19%);
    border: #E3E6E6 0.5px solid;
    padding: 1px 4px;
}

.Logo_Wrapper img{
    margin-right: 200px;
    margin-left: 100px;
}


.Link_Wrapper_Head{
    background-color: #131A22;
}


.Link_Wrapper{
    padding: 50px 0px;
    margin: 0px auto;
    display: flex;
    gap: 20px;
    width: 70%
}

.Link_Wrapper a{
    color: #99998A;
    font-size: 12px;
    
}

.Link_Wrapper a:hover{
    text-decoration: underline;
}

.Link_Wrapper b{
    color: #DDDDDD;
    margin-top: 20px;
}

.text{
    width: 17%;
}

.bottom{
    display: flex;
    gap: 22px;
    background-color: #131A22;
    justify-content: center;
}

.bottom a{
    color: white;
    font-size: 12px;

}

.bottom a:hover{
    text-decoration: underline;
}

.AllRight{
    background-color: #131A22;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}