.AboveFotter {
    background-color: #FFFFFF;
    padding: 30px 0;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.AboveFotter button {
    width: 100%;
    max-width: 260px;
    border-radius: 4px;
    padding: 10px;
    background-color: #FFCE12;
    border: 1px solid #a88734;
    cursor: pointer;
    font-weight: bold;
}


.InnerFooter {
    padding: 20px 0px;
}

.LinkToHeader {
    background-color: #37475A;
    text-align: center;
    padding: 20px;
}

.LinkToHeader:hover {
    background-color: #485769;
}


.LinkToHeader a,
.SecondFooter a {
    color: #DDDDDD;
    font-size: 15px;
}

.NoteWrapper,
.Main_Lower_Footer_Wrapper {
    background-color: hsl(213, 28%, 19%);
}


.SecondFooter {
    padding-top: 40px;
    padding-bottom: 50px;
    color: white;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
}

.SecondFooter h4 {
    font-size: 17px;
    padding-bottom: 4px;
    font-weight: bold;
}

.SecondFooter a:hover {
    text-decoration: underline;
}

.Main_Lower_Footer_Wrapper {
    width: 100%;
    border-top: #DDDDDD 0.5px solid;
    justify-content: center;
}


.Logo_Wrapper {
    padding: 30px 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.Logo_Wrapper img {
    height: 35px;
}


.Link_Wrapper_Head {
    background-color: #131A22;
}


.Link_Wrapper {
    padding: 50px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    max-width: 1000px;
}

.Link_Wrapper a {
    color: #99998A;
    font-size: 12px;

}

.Link_Wrapper a:hover {
    text-decoration: underline;
}

.Link_Wrapper b {
    color: #DDDDDD;
    margin-top: 20px;
}

.text {
    width: 17%;
}

.bottom {
    display: flex;
    gap: 22px;
    background-color: #131A22;
    justify-content: center;
}

.bottom a {
    color: white;
    font-size: 12px;

}

.bottom a:hover {
    text-decoration: underline;
}

.AllRight {
    background-color: #131A22;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}